@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    margin:0;
    padding:0;
}
#title{
    text-align:center;
    font-size:60px;
    word-spacing: 10px;
    font-weight:lighter;
}
#snippet{
    text-align:center;
}
input{
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid grey;
    outline:none;
}
input[type=text]{
    font-size:20px;
}
.my_container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.myNav {
    background-color:black;
    width:100%;
    display:flex;
    list-style-type: none;
}
.myNav p{
    font-weight:bolder;
    margin:20px 40px 20px 40px;
    color:white;
}
.navItems{
    margin:auto;
    display:flex;
}
a {
    text-decoration: none;
    color:black;
}

a:visited{
    text-decoration: none;
    color:black;
}

form{
    margin:40px;
}

button{
    margin:10px;
    border:none;
    background-color:red;
    padding:4px;
    color:white;
    border-radius:5px;
}
.home{
    margin:20px;
    max-width:500px;
}
.blurb{
    line-height: 30px;
}

.links{
    color:skyblue;
}

.bold{
    font-weight:bolder
}
.singleRecipefromlist{
    margin:20px;
}
.recipelistbox{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
